:root {
	--font-primario: Arial, Helvetica, sans-serif;
	--font-secundario: Georgia, "Times New Roman", serif;
	--cor-primario: #fec63e;
	--cor-secundario: #000000;
	--cor-terciario: #ffffff;
}
.portfolio-banner {
	background-image: url(../img/bg-portfolio.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.quote-clientes {
	max-width: 460px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-right: auto;
	margin-left: auto;
}
.quote-clientes p {
	font-size: 18px;
	font-style: italic;
	text-align: center;
	line-height: 25px;
}
.quote-clientes cite {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	display: block;
	margin-top: 20px;
}
.page-portfolio .portfolio-lista {
	margin-top: 0;
}
