.sobre-banner {
	background-image: url(../img/bg-sobre.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.missao {
	margin-top: 60px;
	margin-bottom: 60px;
}
.missao h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}
.missao h2::after {
	content: "";
	background: var(--cor-secundario);
	display: block;
	width: 60px;
	height: 3px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.historia-missao-visao p {
	font-size: 18px;
	line-height: 25px;
	max-width: 520px;
}
.historia-missao-visao p:nth-of-type(1) {
	margin-bottom: 20px;
}
.valores ul li {
	font-family: var(--font-secundario);
	font-size: 18px;
	line-height: 30px;
}
